* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./Assets/background.jpg");
  background-position: center ;
  background-size: cover;
  /* background: rgb(175,48,13);
  background: linear-gradient(90deg, rgba(175,48,13,0.7987570028011204) 27%, rgba(255,214,0,0.4906337535014006) 100%, rgba(121,71,9,0.4654236694677871) 100%); */
  /* background:linear-gradient() center center no-repeat ;
  background-size: cover;
  object-fit: fill; */
  
} 

img {
  max-width: 100%;
  display: block;
}
